*{
  box-sizing: border-box;
}

 .header{
justify-content: center;

}
/*

nav{
  display: inline-block;
  
  border: 2px solid orange;
  border-radius: 20px;
  margin: 0 auto 1rem;
  text-transform: uppercase;
  line-height: 4rem;
  font-size: larger;
} */
